/*Mobile styles*/

@media only screen and (max-width: 1120px)  {

.header-menu {
  width: 100%;
}

.footer-project-description {
  padding: 0 20px 25px 20px;
}

}


@media only screen and (max-width: 800px)  {


/*HOME PAGE*/

html {
  font-size: 13px;
}

.col_1of2 , .col_1of3{
  flex: 0 0 100%;
}

.spacer , .spacer2 , .spacer3 {
  padding: 0 20px 0 20px;
  margin: 0 auto !important;
}

.spacer2 , .spacer3 {
  width: 100%;
}

.row2 , .feastbound-image , .biomicro-image , .senescenza-image {
  margin-top: 0px !important;
}

.senescenza-image , .senescenza-title {
  width: 100%;
}

.body-container , .information-container {
  margin-bottom: 0;
}

.header-menu , .header-link:hover {
  font-size: 1.1rem;
}

.header-info , .header-home {
  font-size: 1.4rem;
}

/*INFO PAGE*/
.information-text {
  width: 100%;
  padding: 0 20px 0 20px;
}

/*PROJECTS PAGE*/
.counter {
  width: 100%;
  top: 80%;
  right: 0;
  text-align: center;
  display: none;
}

.image-spacer {
  height: 60vw;
}


}




@media only screen and (max-width: 550px)  {

.slideshow-container {
    margin-top: 27vh;
}

}



@media only screen
and (max-width: 550px)
and (orientation: portrait)  {



}
