/** PROJECTS PAGE **/

/*** FOOTER BAR ***/

.footer-container {
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: white;
  position: fixed;
  border-top: 1px solid black;
  /* cursor: pointer; */

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

}

.footer-project-title {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: titling-gothic-fb-extended, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
}

.footer-project-title:hover {
  filter: blur(1.5px);
}

.footer-project-description {
  width: 100%;
  padding: 0 300px 25px 300px;
  text-align: justify;
  max-height: 20vh;
  overflow-y: scroll;
  display: none;

}

.footer-project-description.showme {
  display: block;
}


/*** SLIDESHOW ***/

.counter {
  position: fixed;
  top: 45%;
  right: 2%;
  display: block;
  z-index: 500;
  letter-spacing: 1px;
  font-weight: 500;
}

.active-counter {
  display: block !important;
}

.slideshow-container {
  width: 100%;
  height: 50%;
  margin-top: 110px;
}

.slideshow-item img {
  cursor: pointer !important;
}

.image-spacer {
  display: block;
  margin: 0 auto;
  height: 70vh;
}
